# Port to listen on
#Port 22

# Protocols to accept
Protocol 2,1

# IPv4 address to listen on
#ListenAddress 0.0.0.0

# HostKey for protocol version 1
#HostKey /etc/ssh/freesvr-ssh-proxy_host_key
# HostKeys for protocol version 2
#HostKey /etc/ssh/freesvr-ssh-proxy_host_rsa_key
#HostKey /etc/ssh/freesvr-ssh-proxy_host_dsa_key

# Where to store the PID file
#PidFile /var/run/freesvr-ssh-proxy.pid

# Where to store passwords
#PasswdLogFile /var/log/freesvr-ssh-proxy/passwd.log

# Where to store data sent from client to server
#ClientToServerLogDir /var/log/freesvr-ssh-proxy

# Where to store data sent from server to client
#ServerToClientLogDir /var/log/freesvr-ssh-proxy

# Radius auth switch
RadiusAuthOpenFlag no

# Radius server ip address
RadiusServerAddress 127.0.0.3

# Radius server port
RadiusServerPort 1812

# Radius server secret
RadiusServerSecret freesvr

# Audit address
AuditAddress 218.249.98.41

# Mysql address
MysqlAddress 127.0.0.1

# Mysql username
MysqlUsername freesvr

# Mysql password
MysqlPassword freesvr

# Mysql database
MysqlDatabase audit_sec
